<%= render "shared/header" %>
<div class='main'>

  <div class='item-contents'>
    <h2 class='title'>Snippet</h2>
    <%= link_to '', class: "subtitle" %>
    <ul class='item-lists'>
      <% @snippets.each do |snippet|%>
      <li class='list'>
        <%= link_to snippet_input_summaries_path(snippet.id) do %>
        <div class='item-img-content'>
          <%= image_tag 'star-icon.png', class: "item-img" %>
          <div class='sold-out'>
            <span><%= snippet.group_name %></span>
          </div>
        </div>
        <% end %>
        <div class='item-info'>
          <%= link_to edit_snippet_path(snippet.id) do %>
            <div class='select-submit'>
              <%= "編集" %>
            </div>
          <% end %>
          <%= link_to delete_snippet_path(snippet.id) do %>
            <div class='select-submit'>
              <%= "削除" %>
            </div>
          <% end %>
        </div>
        
      </li>
      <% end %>
    </ul>
  </div>
</div>
<%= link_to(new_snippet_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>Make Up</span>
  <%= image_tag 'search-icon.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %> 